.container-fluid {
    flex: 1;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.row {
    flex: 1;
    padding : 1%;
}

.col-md-9 {
    display: flex;
    flex-direction: column;
}

.mainPages {
    flex: 1;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 6px #39373D;
}