.row {
    flex: 1;
    padding : 1%;
}

.mainPages {
    flex: 1;
    background-color: white;
    border: 2px solid #ccc;
    padding: 10px;
    margin-left: 1%;
    box-shadow: 0 4px 6px #39373D;
}